/*日历容器样式*/

.em-calendar-container,
.em-calendar-wrapper-week,
.em-calendar-wrapper,
.em-calendar {
	overflow: hidden;
	background: #ffffff;
	/*padding-bottom: 10px;*/
}

.em-calendar-container {
	/*border-bottom: 1px solid #e0e0e0;*/
}


/*标注红色*/

.em-red {
	/*color: #E60012;*/
	color: #333;
}

.em-unusually{
	color: #E60012;
}
/*异常*/
.yc{
	display: inline-flex;
	width: 5px;
	height: 5px;
	margin-top: -16px;
	position: absolute;
	margin-left: -2px;
	background: #F04864;
	border-radius: 50%;
}
/*正常*/
.zc{
	display: inline-flex;
	width: 5px;
	height: 5px;
	margin-top: -16px;
	position: absolute;
	margin-left: -2px;
	background: #afafaf;
	border-radius: 50%;
}

/*最上面一行周历显示*/

.em-week {
	display: flex;
	justify-content: space-around;
	padding-top: 18px;
	padding-bottom: 15px;
	color: #333;
	font-size: 13px;
}

.em-calendar-content .em-calendar-item {
	float: left;
	width: 14.285vw;
	height: 14.285vw;
	text-align: center;
	/*border:1px solid #000;*/
	border-radius: 50%;
	/*margin-bottom: 5px;*/
	line-height: 14.285vw;
}


/* 周六、周日列字体标红*/

.em-calendar-content .em-calendar-item:nth-child(7n) .day,
.em-calendar-content .em-calendar-item:nth-child(7n+1) .day {
	/*color: #E60012;*/
	color: #333;
	font-size: 14px;
}


/* 上个月和下个月  置成灰色，不可点击*/

.em-calendar-content .isforbid1.em-calendar-item {}

.em-calendar-content .isforbid0.em-calendar-item {}

.em-calendar-content .isforbid0.em-calendar-item .day {
	display: block;
	/*padding-top: 4vw;*/
	font-size: 14px;
	color: #D8D8D8;
}

.em-calendar-content .isforbid0.em-calendar-item .lunar {
	font-size: 10px;
	color: #D8D8D8;
	margin-top: -3px;
}

.em-calendar-content .em-calendar-item .day {
	display: block;
	/*padding-top: 4vw;*/
	font-size: 14px;
	color: #333333;
}

.em-calendar-content .em-calendar-item .lunar {
	font-size: 10px;
	color: #666666;
	margin-top: -3px;
}


/*通用点皮肤*/

.em-calendar-content .em-calendar-item .dot {
	display: inline-flex;
	width: 5px;
	height: 5px;
	margin-top: -16px;
	position: absolute;
	margin-left: -2px;
	/*background: #ededed;*/
	border-radius: 50%;
}


/*考勤异常*/

.em-calendar-content .em-calendar-item .dot-type1 {
	background: #F04854;
	background-size: 100% 100%;
}


/*正常打卡*/

.em-calendar-content .em-calendar-item .dot-type2 {
	background: #ededed;
	background-size: 100% 100%;
}

.em-calendar-content .em-calendar-item img {
	width: 10px;
	height: 10px;
	margin-top: -12px;
	position: absolute;
	margin-left: -3px;
}


/**
 * 日历表中的颜色
 * 日历拓展；四种样式
 **/


/*迟到*/

.em-calendar-late {
	border: 2px solid #F5B6B6;
}


/*早退*/

.em-calendar-early {
	border: 2px solid #F5CAB6;
}


/*调休*/

.em-calendar-rest {
	border: 2px solid #D5E6D4;
}


/*请假*/

.em-calendar-leave {
	border: 2px solid #AFDDD9;
}


/*点击效果*/

.em-calendar-content .em-calendar-active.em-calendar-item:nth-child(7n) .day,
.em-calendar-content .em-calendar-active.em-calendar-item:nth-child(7n+1) .day {
	color: #ffffff;
}

.em-calendar-active {
	/*background-color: #3C80E6;*/
	background-color: #fcb058;
	width: 14.285%;
	height: 54px;
}

.em-calendar-content .em-calendar-active .day,
.em-calendar-content .em-calendar-active .lunar {
	color: #FFFFFF;
}
.lunar{
	display: none;
}





/*日历*/

.em-calendar {
	border-bottom: 1px solid #e0e0e0;
}


/*左右切换*/

.em-journal-title {
	width: 100%;
	display: block;
	/*display: none;*/
	height: 50px;
	line-height: 50px;
	background-color: #FFFFFF;
}

.em-per-block {
	float: left;
	width: 33%;
	color: #fff;
	font-size: 18px;
}

.em-per-block.pre {
	text-align: left;
	font-size: 15px;
}

.em-per-block.next:active,
.em-per-block.pre:active {
	background-color: #3a79d8;
	border-radius: 15px;
	font-weight: 800;
}

.em-per-block.mid {
	text-align: center;
	font-size: 18px;
}

.em-per-block.next {
	text-align: right;
	font-size: 15px;
}

.backToday {
	background: #3c80e6;
	color: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
}
.em-per-block{
	color: #333;
}
