.item-cell {
  padding: 15px;
}
.item-cell .item-cell-hd {
  margin-bottom: 6px;
}
.item-cell .item-cell-hd .title {
  float: left;
  line-height: 20px;
  font-size: 16px;
  color: #333333;
}
.item-cell .item-cell-hd .title:before {
  content: " ";
  display: block;
  float: left;
  width: 2px;
  height: 12px;
  background-color: #fcb058;
  margin-right: 8px;
  margin-top: 4px;
}
.item-cell .item-cell-hd .iconfont {
  float: right;
  line-height: 20px;
  color: #c7c7d1;
}
.item-cell .item-cell-bd {
  font-size: 13px;
  margin-left: 10px;
  line-height: 22px;
}
.item-cell .item-cell-bd .label {
  color: #999;
  margin-right: 8px;
}
.item-cell .item-cell-bd .content {
  color: #666;
}
.item-cell .item-cell-list {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-left: 10px;
  line-height: 22px;
  color: #666;
}
